html {
	font-size: 62.5%;
}

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
	font-family: "Kumbh Sans", sans-serif;
}
body {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	padding: 0 16.5rem;
	position: relative;

	@media (max-width: 1260px) {
		padding: 0 5rem;
	}
	@media (max-width: 1000px) {
		padding: 0 16.5rem;
	}
	@media (max-width: 760px) {
		padding: 0 0 8rem;
	}
}
